# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist/
.vite/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/

# Others
*.swp